#content {
    margin-left: 16em;
    display: grid;
    height: auto;
    width: auto;
    /* outra forma de adicionar a medida no width:
    width: calc(100% - 16em); 
    */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    background: rgb(70, 69, 73);
}

#content header {
    margin-top: 0;
    grid-column: 1 / 3;
    border-top: 4px solid white;
    border-radius: 2px;
}

.item {
    border-radius: 4px;
    background: rgb(134, 134, 133);
}

@media (max-width: 750px) {
    #content {
        margin-left: 0;
        grid-template-columns: 100%;
    }

    #content header {
        grid-column: auto;
    }
}
/*
padding: 0.5vh;
margin: 4px;
display: block;
text-align: center;
height: 10px;
width: 50%;
font-family: 'MuseoModerno', cursive;
font-size: 17px;
color: #fff;
border-radius: 4px;
background: rgb(77, 71, 71);
*/